.rating {
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 2px 10px;
  margin: 3px;
  background-color: #e0dfdf;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3) inset;

  img {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
  }
}