.movieItem {
  display: flex;
  position: relative;
  margin: 10px;
  cursor: pointer;

  &:hover{
    .titleContainer {
      padding: 20px 0;
      z-index: 45;
    }

    img {
      filter: grayscale(70%) blur(1px) brightness(120%);
      -webkit-filter: grayscale(70%) blur(1px) brightness(120%);
    }
  }

  .titleContainer {
    transition: all cubic-bezier(0.43, 0.03, 0.41, 1) 0.3s;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)
  }

  h3 {
    color: #ffffff;
    text-align: center;
    margin: 10px;
    z-index: 40;
  }

  img, div.noPoster {
    height: 300px;
    width: 200px;
    background-color: #999;

    &:after {
      content: "?";
      color: #DDD;
      font-size: 80px;
      line-height: 300px;

    }
  }
}