
.movieDetailsContainer {

  .overlay {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }

  .movieDetails {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 992;
    top: 20%;
    width: 50%;
    left: 25%;
    background-color: #fff;
    padding: 30px;

    .close {
      position: absolute;
      height: 30px;
      width: 60px;
      top: -10px;
      left: -10px;
      border: 1px solid #aaa;
      border-radius: 20px;
      padding: 0;
      margin: 3px;
      background-color: #e0dfdf;
      color: #888;
      line-height: 30px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 14px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
    }

    h3 {
      margin-top: 0;
      font-size: 30px;
      font-family: 'Bree Serif', serif;
    }

    .card {
      display: flex;
    }

    img, div.noPoster {
      height: 300px;
      width: 200px;
      background-color: #999;
    
      &:after {
        content: "?";
        color: #DDD;
        font-size: 80px;
        line-height: 300px;
    
      }
    }
    
    .info {
      text-align: left;

      ul {
        margin: 0 0 0 10px;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;

          h4 {
            margin: 5px 0;
            font-size: 16px; 
          }

          p {
            margin: 0 0 0 20px;
          }
        }
      }
    }
  }
}

