.searchForm {
  position: relative;
  padding: 40px 0 0 0;
  

  form {
    width: 100%;
    display: flex;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 20px auto;
    background-color: #f0f0f0;
    width: 300px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3) inset;

    input {
      background-color: transparent;
      font-family: 'Bree Serif', serif;
      font-size: 20px;
      border-width: 0;
      width: 100%;
      outline: none;
      color: #000;
    }

    button {
      border: 1px solid #ddd;
      border-radius: 20px;
    }
  }
}