@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ropa+Sans&display=swap');

.App {
  text-align: center;

  header {
    height: 200px;
    background-color: #f5e8eb;

    h1 {
      margin: 0;
      padding: 20px 0 0 0;
      font-size: 50px;
      font-family: 'Ropa Sans', sans-serif;
    }
  }

  .toolbar {
    min-height: 40px;
    background-color: #002626;  
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    h3.title {
      text-align: left;
      padding: 10px;
      margin: 0;
      color: #ffffff;
      font-family: 'Ropa Sans', sans-serif;
    }

    & > * {
      display: flex;
    }

    button {
      border: 1px solid #aaa;
      border-radius: 20px;
      padding: 2px 10px;
      margin: 3px;
      background-color: #e0dfdf;
      box-shadow: 1px 1px 1px rgba(0,0,0,.3) inset;
      font-size: 14px;
      font-weight: bold;
      color: #555;
    }
  }

  

  .movieListContainer {
    background-color: #F7EDE2;

    .movieList {
      max-width: 950px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      font-family: 'Ropa Sans', sans-serif;
    }
  }
  

}
